h1 {
    text-align: center;
    font-size: 300%;
}

body {
    background-image: url('https://codetheweb.blog/assets/img/posts/css-advanced-background-images/mountains.jpg');
    background-size: 2000px;
    background-attachment: fixed;
}

ul {
    font-size: large;
}

